<app-sidebar>
  <div class="main">
    <div class="sidebar">
      <h2>Intervención</h2>
      <!-- Lista de chats de intervención -->
      <div class="chat-list">
        <div *ngFor="let chat of interventionChats" class="chat-item" (click)="selectInterventionChat(chat)">
          <div class="historial">
            <div class="botones">
              <i class="bi bi-chat-left"></i>
            </div>
            <p class="titulo">{{ chat.nombre }}</p>
            <div class="menu">
              <i class="bi bi-three-dots-vertical menu-icon" (click)="toggleOptions(chat.memory_key)"></i>
              <div *ngIf="chat.showOptions" class="menu-options" (click)="$event.stopPropagation()">
                <div class="option" (click)="deleteChat(chat.memory_key)">
                  <i class="bi bi-trash"></i>
                  <span>Eliminar</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h2>Chats Activos</h2>
      <!-- Lista de chats activos sin posibilidad de intervención -->
      <div class="chat-list">
        <div *ngFor="let chat of activeChats" class="historial" (click)="selectActiveChat(chat)">
          <div class="botones">
            <i class="bi bi-chat-left"></i>
          </div>
          <p class="titulo">{{ chat.nombre }}</p>
        </div>
      </div>
    </div>

    <!-- Ventana de chat activa -->
    <div class="chat-window" *ngIf="selectedChat">
      <div class="chat-header">
        <span>{{ selectedChat.nombre }}</span>
      </div>

      <!-- Logotipo o título de ALIE (puede ajustarse con estilo CSS) -->
      <div class="alie-logo">
        ALIE
      </div>

      <div *ngFor="let message of messages">
        <div [ngClass]="{
                   'agent-message': message.sender === 'agent',
                   'user-message': message.sender === 'user',
                   'supervisor-message': message.sender === 'supervisor'
             }" class="message-item">
          {{ message.content }}
        </div>
      </div>
      
      
      
      
      <!-- Campo de texto e input para intervención siempre visible en chats intervenidos -->
      <div class="chat-input-container" *ngIf="selectedChat?.canInteract">
        <input 
          type="text" 
          [(ngModel)]="newMessage" 
          placeholder="Escribe un mensaje para intervenir en la conversación..." 
          (keydown.enter)="sendMessage()" 
        />
        <button (click)="sendMessage()">✈️</button>  
      </div>
    </div>
  </div>
</app-sidebar>
