<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="main-container">
        <div class="content">
            <div class="container mt-5">
                <h1 class="text-center">Login</h1>
                <p class="text-center text-success">Welcome to ALIE</p>
    
                <div class="text-center mb-3">
                    <label for="roleToggle" class="form-label">User Role:</label>
                    <select id="roleToggle" class="form-select w-auto mx-auto">
                        <option value="Student" selected>Student</option>
                        <option value="Admin">Admin</option>
                    </select>
                </div>
    
                <!-- Button for Login -->
                <div class="text-center mt-3">
                    <a [routerLink]="['/chat']" class="btn btn-primary" (click)="handleLogin()">
                        <i class="bi bi-star-fill"></i> Continue
                    </a>
                </div>
                
            </div>
        </div>
    
        <!-- App footer -->
        <app-default-footer></app-default-footer>
    </div>    

    <!-- Bootstrap JS (optional, for components that require JavaScript) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
