<div class="d-flex" id="sidebarContainer">
  <nav id="sidebar" class="bg-light" [class.collapsed]="isCollapsed">
    <!-- Sidebar Header -->
    <div class="sidebar-header text-center">
      <img src="img/AlieLogo_RoundedCorners.png" alt="Logo" class="logo" (click)="toggleSidebar()">
      <small *ngIf="!isCollapsed" class="text-muted">
        <strong>A</strong>sistente de <strong>L</strong>enguaje <strong>I</strong>nteligente para la <strong>E</strong>ducación
      </small>
    </div>

    <!-- User Info (Profile Picture and Name) -->
    <div class="user-info text-center">
      <i class="bi bi-person-circle profile-icon"></i>
      <span *ngIf="!isCollapsed" class="user-name">{{ userName }}</span>
    </div>

    <!-- Buttons -->
    <div class="sidebar-buttons">
      
      <!-- Chat button, visible to all roles -->
      <button class="btn btn-light btn-icon" routerLink="/chat" routerLinkActive="active">
        <i class="bi bi-chat-dots-fill"></i>
        <span class="buttonText" *ngIf="!isCollapsed">Chat</span>
      </button>

      <!-- Supervision and Files buttons, visible only to Admin -->
      <button *ngIf="userRole === 'Admin'" class="btn btn-light btn-icon" routerLink="/supervision" routerLinkActive="active">
        <i class="bi bi-eye-fill"></i>
        <span class="buttonText" *ngIf="!isCollapsed">Supervision</span>
      </button>
      
      <button *ngIf="userRole === 'Admin'" class="btn btn-light btn-icon" routerLink="/fileManagement" routerLinkActive="active">
        <i class="bi bi-file-earmark-break-fill"></i>
        <span class="buttonText" *ngIf="!isCollapsed">Files</span>
      </button>

    </div>

    <!-- Sidebar Footer -->
    <div class="sidebar-footer sidebar-buttons">
      <a class="btn btn-light btn-icon" routerLink="/homepage" routerLinkActive="active">
        <i class="bi bi-box-arrow-right"></i>
        <span class="buttonText" *ngIf="!isCollapsed">Logout</span>
      </a>
    </div>
  </nav>

  <!-- Contenido proveniente de otro componente --> 
  <div id="content" class="flex-fill">
      <!-- Dynamic content goes here -->
      <ng-content></ng-content>
  </div>

</div>
