/* Asegura que el html y el body ocupen toda la altura */
html, body { height: 100%; margin: 0; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Contenedor principal que se extiende a toda la altura de la ventana */
.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupa al menos el 100% de la altura de la ventana */
}

/* El contenido principal se expande para llenar el espacio disponible */
.content {
    flex: 1;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
